name: arsync_exception_toolkit
description: A flexible exception handling system for Flutter applications by Arsync
version: 0.0.4
homepage: https://arsyncsolutions.com/
repository: https://github.com/itsatifsiddiqui/arsync_exception_toolkit


environment:
  sdk: ">=3.0.0 <4.0.0"
  flutter: ">=3.0.0"

dependencies:
  flutter:
    sdk: flutter

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^5.0.0